at.medevit.ch.artikelstamm/lib/Elexis_Artikelstamm_v4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2016 MEDEVIT. All rights reserved. This program and the 
	accompanying materials are made available under the terms of the Eclipse 
	Public License v1.0 which accompanies this distribution, and is available 
	at http://www.eclipse.org/legal/epl-v10.html v002 - Ergänzung K Komplementärprodukt 
	bei generic type, Consider ATC code of length 8 (on vet.med. articles) Relax 
	ADDSCR occurence to 0 .. 1 v003 - PRODNO hinzugefügt LIMNAMEBAG zur formal-kennzeichnung 
	von identen limitations v4 - Major refactoring, see https://redmine.medelexis.ch/issues/4405 
	Contributors: MEDEVIT <office@medevit.at> - initial API and implementation -->
<xs:schema targetNamespace="http://elexis.ch/Elexis_Artikelstamm_v4"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="4" id="Elexis_Artikelstamm_v003" xmlns="http://elexis.ch/Elexis_Artikelstamm_v4"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ARTIKELSTAMM">
		<xs:annotation>
			<xs:documentation xml:lang="EN">Information on
				medicaments
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCTS" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PRODNO"
											type="PRODNOType" minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element name="DSCR"
											type="DSCRType" minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element name="DSCRF"
											type="DSCRType" minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element name="ATC"
											nillable="false" maxOccurs="1" minOccurs="0">
											<xs:annotation>
												<xs:documentation
													xml:lang="EN">
													ATC Code beinhaltet
													Information ob Item
													ein Impfstoff ist.
													Dies ist der Fall
													wenn der ATC Code
													mit J07 startet.
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction
													base="xs:string">
													<xs:maxLength
														value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LIMNAMEBAG"
											type="xs:string" minOccurs="0" maxOccurs="1">
										</xs:element>

										<xs:element name="SUBSTANCE"
											type="xs:string" minOccurs="0" maxOccurs="1">
										</xs:element>
										<xs:element name="SUBSTANCEF"
											type="xs:string" minOccurs="0" maxOccurs="1">
										</xs:element>
									</xs:sequence>
									<xs:attribute name="DELTA" type="DELTAType" use="optional">
									</xs:attribute>
								</xs:complexType>
								<xs:unique name="uniqueProdno">
									<xs:selector xpath="PRODNO" />
									<xs:field xpath="." />
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LIMITATIONS" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LIMITATION" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LIMNAMEBAG" type="xs:string"
											minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element name="DSCR" type="DSCRType" minOccurs="1"
											maxOccurs="1">
										</xs:element>
										<xs:element name="DSCRF" type="DSCRType" minOccurs="1"
											maxOccurs="1">
										</xs:element>
										<xs:element name="LIMITATION_PTS" type="xs:int"
											maxOccurs="1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													Limitationspunkte
												</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="DELTA" type="DELTAType" use="optional">
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="ITEMS" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:annotation>
										<xs:documentation>
											Packungsgröße verrechnet,
											also Anzahl der
											beinhalteten
											Elemente (bspw. 100
											Tabletten)
										</xs:documentation>
									</xs:annotation>
									<xs:sequence>

										<xs:element name="GTIN"
											nillable="false" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation
													xml:lang="EN">
													Reference number
													(GTIN = Global trade
													item number)
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction
													base="xs:string">

												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PHAR"
											nillable="false" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation
													xml:lang="EN">
													Pharmacode
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction
													base="xs:integer" />
											</xs:simpleType>
										</xs:element>


										<xs:element name="DSCR"
											nillable="false" type="DSCRType" minOccurs="1"
											maxOccurs="1">
											<xs:annotation>
												<xs:documentation
													xml:lang="EN">
													Product description,
													e.g. Adalat retard
													Tabletten 20 mg
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DSCRF"
											type="xs:string" minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element name="COMP"
											minOccurs="0">
											<xs:annotation>
												<xs:documentation
													xml:lang="EN">
													Manufacturer
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														name="NAME" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>
																CompanyName
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction
																base="xs:string">
																<xs:maxLength
																	value="101" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element
														name="GLN" nillable="false" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation
																xml:lang="EN">
																Company
																GLN
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction
																base="xs:string">
																<xs:maxLength
																	value="13" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PEXF"
											type="xs:double" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>
													Exfactorypreis in
													Franken und Rappen
													(exkl. MWSt)
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PPUB"
											type="xs:double" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>
													Publikumspreis in
													Franken und Rappen
													(inkl.MWSt)
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PKG_SIZE"
											type="xs:int" maxOccurs="1" minOccurs="0">
										</xs:element>
										<xs:element name="PKG_SIZE_STRING"
											type="xs:string" minOccurs="0" maxOccurs="1">
										</xs:element>
										<xs:element name="SL_ENTRY"
											type="xs:boolean" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>
													Item ist in der
													Spezialitätenliste
													(SL) eingetragen
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="IKSCAT"
											maxOccurs="1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													Abgabekategorie
												</xs:documentation>
											</xs:annotation>

											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														Abgabekategorie,
														A-E A:
														verschärft
														rezeptpflichtig
														B:
														Rezeptpflichtig
														C: erhältlich in
														Apotheken ohne
														Rezept D:
														erhältlich in
														Apotheken und
														Drogerien E:
														keine
														Kategorisierung
													</xs:documentation>
												</xs:annotation>
												<xs:restriction
													base="xs:string">
													<xs:enumeration
														value="A">
													</xs:enumeration>
													<xs:enumeration
														value="B">
													</xs:enumeration>
													<xs:enumeration
														value="C">
													</xs:enumeration>
													<xs:enumeration
														value="D">
													</xs:enumeration>
													<xs:enumeration
														value="E">
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="GENERIC_TYPE"
											maxOccurs="1" minOccurs="0">

											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														O Original G
														Generikum K
														Komplementärprodukt
													</xs:documentation>
												</xs:annotation>
												<xs:restriction
													base="xs:string">
													<xs:enumeration
														value="O">
													</xs:enumeration>
													<xs:enumeration
														value="G">
													</xs:enumeration>
													<xs:enumeration
														value="K">
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HAS_GENERIC"
											type="xs:boolean" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>
													Generikum zu diesem
													Produkt vorhanden
													ja/nein
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="LPPV"
											type="xs:boolean" maxOccurs="1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													Ist eingetragen in
													Liste
													pharmazeutischer
													Präparate mit
													spezieller
													Verwendung (LPPV)
												</xs:documentation>
											</xs:annotation>
										</xs:element>

										<xs:element name="DEDUCTIBLE"
											type="xs:int" maxOccurs="1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													Selbstbehalt für
													SL-Produkte in
													prozent
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NARCOTIC"
											type="xs:boolean" maxOccurs="1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													Produkt ist
													Betäubungsmittel
													ja/nein
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NARCOTIC_CAS"
											type="xs:string" maxOccurs="1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													Wenn
													Betäubungsmittel
													(NARCOTIC == true)
													dann CAS Register
													Nummer des Artikels
												</xs:documentation>
											</xs:annotation>
										</xs:element>


										<xs:element name="PRODNO"
											minOccurs="0" maxOccurs="1" type="PRODNOType">
											<xs:annotation>
												<xs:documentation>
													Produktnummer des
													Artikels
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="MEASURE"
											type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                            	<xs:documentation>Measurement Unit, e.g. Pills or milliliters</xs:documentation>
                                            </xs:annotation>
										</xs:element>
									</xs:sequence>



									<xs:attribute name="PHARMATYPE">
										<xs:annotation>
											<xs:documentation>If a PRODNO is defined, the PharmaType is P
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="N">
												</xs:enumeration>
												<xs:enumeration value="P">
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="DELTA" type="DELTAType" use="optional">
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="CREATION_DATETIME" type="xs:dateTime"
				use="required">
				<xs:annotation>
					<xs:documentation>Erstellungszeitpunkt des Ursprungsdatensatzes
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>

			<xs:attribute name="BUILD_DATETIME" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Build dateTime of this dataset (the datetime this
						dataset was created from the resp. origin data-set)
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LANG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DE"></xs:enumeration>
						<xs:enumeration value="FR"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MONTH" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>
						Monatszuordnung dieses Datensatzes
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="YEAR" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>
						Jahreszuordnung dieses Datensatzes
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="VERSION_ID" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>A version ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SET_TYPE" use="required">
				<xs:annotation>
					<xs:documentation>
						The data set type. If F contains a full data-set,
						if
						D contains a delta data-set, where the attribute
						CV_APP_TO
						defines to what cummulated version this
						delta data-set is
						applicable to.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
							The set type: F for FULL data-set, D for DELTA
							data-set. If it is a DELTA data-set, the
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">

						<xs:enumeration value="F"></xs:enumeration>
						<xs:enumeration value="D"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VID_APP_TO" type="xs:int" use="optional">
				<xs:annotation>
					<xs:documentation>
						If SET_TYPE is D, defines to what VERSION_ID this
						data-set is applicable to.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>






	<xs:simpleType name="PRODNOType">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DSCRType">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="DELTAType">
		<xs:annotation>
			<xs:documentation>
				DELTA type for an entry, only defined if set-type
				is D :
				A the entry was added, M modified or D deleted compared
				to
				VID_APP_TO. Not valid for FULL data set types
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"></xs:enumeration>
			<xs:enumeration value="D"></xs:enumeration>
			<xs:enumeration value="M"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
