bundles/ch.framsteg.elexis.galexis/rsc/wsdl/returnCart.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://xml.e-galexis.com/V2/schemas/" targetNamespace="http://xml.e-galexis.com/V2/schemas/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/returnCart/storeReturnCartRequest.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/returnCart/storeReturnCartResponse.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/returnCart/commitReturnCartRequest.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/returnCart/commitReturnCartResponse.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/returnCart/deleteReturnCartRequest.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/returnCart/deleteReturnCartResponse.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/galexisXMLError/galexisXMLError.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/offlineResponse/offlineResponse.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="storeRequest">
		<wsdl:part name="parameters" element="storeReturnCartRequest"/>
	</wsdl:message>
	<wsdl:message name="storeResponse">
		<wsdl:part name="parameters" element="storeReturnCartResponse"/>
	</wsdl:message>
	<wsdl:message name="commitRequest">
		<wsdl:part name="parameters" element="commitReturnCartRequest"/>
	</wsdl:message>
	<wsdl:message name="commitResponse">
		<wsdl:part name="parameters" element="commitReturnCartResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteRequest">
		<wsdl:part name="parameters" element="deleteReturnCartRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteResponse">
		<wsdl:part name="parameters" element="deleteReturnCartResponse"/>
	</wsdl:message>
	<wsdl:message name="offlineResponse">
		<wsdl:part name="parameters" element="offlineResponse"/>
	</wsdl:message>
	<wsdl:message name="errorResponse">
		<wsdl:part name="parameters" element="GalexisXMLError"/>
	</wsdl:message>
	<wsdl:portType name="ReturnCartPortType" xmlns="http://xml.e-galexis.com/V2/schemas/">
		<wsdl:operation name="store">
			<wsdl:input message="storeRequest"/>
			<wsdl:output message="storeResponse"/>
			<wsdl:fault name="offlineResponse" message="offlineResponse"/>
			<wsdl:fault name="errorResponse" message="errorResponse"/>
		</wsdl:operation>
		<wsdl:operation name="commit">
			<wsdl:input message="commitRequest"/>
			<wsdl:output message="commitResponse"/>
			<wsdl:fault name="offlineResponse" message="offlineResponse"/>
			<wsdl:fault name="errorResponse" message="errorResponse"/>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="deleteRequest"/>
			<wsdl:output message="deleteResponse"/>
			<wsdl:fault name="offlineResponse" message="offlineResponse"/>
			<wsdl:fault name="errorResponse" message="errorResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReturnCartSOAP" type="ReturnCartPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="store">
			<soap:operation soapAction="http://xml.e-galexis.com/V2/schemas/store"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="errorResponse">
				<soap:fault name="errorResponse" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="offlineResponse">
				<soap:fault name="offlineResponse" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="commit">
			<soap:operation soapAction="http://xml.e-galexis.com/V2/schemas/commit"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="errorResponse">
				<soap:fault name="errorResponse" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="offlineResponse">
				<soap:fault name="offlineResponse" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://xml.e-galexis.com/V2/schemas/delete"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="errorResponse">
				<soap:fault name="errorResponse" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="offlineResponse">
				<soap:fault name="offlineResponse" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReturnCartService">
		<wsdl:port name="ReturnCartPort" binding="ReturnCartSOAP">
			<soap:address location="https://test.e-galexis.com/testPOS/WebService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
