bundles/ch.framsteg.elexis.galexis/rsc/wsdl/shoppingCart.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by Patrick Bur (Galexis AG) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://xml.e-galexis.com/V2/schemas/" xmlns:xsd1="http://xml.e-galexis.com/V2/schemas/" targetNamespace="http://xml.e-galexis.com/V2/schemas/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/shoppingCart/storeShoppingCartRequest.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/shoppingCart/storeShoppingCartResponse.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/shoppingCart/commitShoppingCartRequest.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/shoppingCart/commitShoppingCartResponse.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/shoppingCart/deleteShoppingCartRequest.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/shoppingCart/deleteShoppingCartResponse.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/shoppingCart/releaseShoppingCartRequest.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/shoppingCart/releaseShoppingCartResponse.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/galexisXMLError/galexisXMLError.xsd"/>
			<xsd:import namespace="http://xml.e-galexis.com/V2/schemas/" schemaLocation="../schemas/offlineResponse/offlineResponse.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="storeRequest">
		<wsdl:part name="parameters" element="storeShoppingCartRequest"/>
	</wsdl:message>
	<wsdl:message name="storeResponse">
		<wsdl:part name="parameters" element="storeShoppingCartResponse"/>
	</wsdl:message>
	<wsdl:message name="commitRequest">
		<wsdl:part name="parameters" element="commitShoppingCartRequest"/>
	</wsdl:message>
	<wsdl:message name="commitResponse">
		<wsdl:part name="parameters" element="commitShoppingCartResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteRequest">
		<wsdl:part name="parameters" element="deleteShoppingCartRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteResponse">
		<wsdl:part name="parameters" element="deleteShoppingCartResponse"/>
	</wsdl:message>
	<wsdl:message name="releaseRequest">
		<wsdl:part name="parameters" element="releaseShoppingCartRequest"/>
	</wsdl:message>
	<wsdl:message name="releaseResponse">
		<wsdl:part name="parameters" element="releaseShoppingCartResponse"/>
	</wsdl:message>
	<wsdl:message name="offlineResponse">
		<wsdl:part name="parameters" element="offlineResponse"/>
	</wsdl:message>
	<wsdl:message name="errorResponse">
		<wsdl:part name="parameters" element="GalexisXMLError"/>
	</wsdl:message>
	<wsdl:portType name="ShoppingCartPortType" xmlns="http://xml.e-galexis.com/V2/schemas/">
		<wsdl:operation name="store">
			<wsdl:input message="storeRequest"/>
			<wsdl:output message="storeResponse"/>
			<wsdl:fault name="offlineResponse" message="offlineResponse"/>
			<wsdl:fault name="errorResponse" message="errorResponse"/>
		</wsdl:operation>
		<wsdl:operation name="commit">
			<wsdl:input message="commitRequest"/>
			<wsdl:output message="commitResponse"/>
			<wsdl:fault name="offlineResponse" message="offlineResponse"/>
			<wsdl:fault name="errorResponse" message="errorResponse"/>
		</wsdl:operation>
		<wsdl:operation name="release">
			<wsdl:input message="releaseRequest"/>
			<wsdl:output message="releaseResponse"/>
			<wsdl:fault name="offlineResponse" message="offlineResponse"/>
			<wsdl:fault name="errorResponse" message="errorResponse"/>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="deleteRequest"/>
			<wsdl:output message="deleteResponse"/>
			<wsdl:fault name="offlineResponse" message="offlineResponse"/>
			<wsdl:fault name="errorResponse" message="errorResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ShoppingCartSOAP" type="ShoppingCartPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="store">
			<soap:operation soapAction="http://xml.e-galexis.com/V2/schemas/store"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="errorResponse">
				<soap:fault name="errorResponse" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="offlineResponse">
				<soap:fault name="offlineResponse" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="commit">
			<soap:operation soapAction="http://xml.e-galexis.com/V2/schemas/commit"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="errorResponse">
				<soap:fault name="errorResponse" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="offlineResponse">
				<soap:fault name="offlineResponse" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="release">
			<soap:operation soapAction="http://xml.e-galexis.com/V2/schemas/release"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="errorResponse">
				<soap:fault name="errorResponse" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="offlineResponse">
				<soap:fault name="offlineResponse" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://xml.e-galexis.com/V2/schemas/delete"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="errorResponse">
				<soap:fault name="errorResponse" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="offlineResponse">
				<soap:fault name="offlineResponse" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ShoppingCartService">
		<wsdl:port name="ShoppingCartPort" binding="ShoppingCartSOAP">
			<soap:address location="https://test.e-galexis.com/testPOS/WebService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
