bundles/at.medevit.elexis.tarmed.model/rsc/generalInvoiceResponse_500.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  ==========================================================================
	This is the schema definition for a "General Invoice Response" process encoded
	in XML. The generalInvoiceResponse always constitutes an answer to a received 
	"General Invoice Request". By design there are [0,n] such responses but 
	solely to the topmost object reference given given in the request.

	The response is sent via 1 or more intermediates to the final recipient, who 
	is the initial sender of the request by definition. The chain of intermediates 
	from the request is reversed for the response.

	This XML project is normative for the electronic invoice/reminder process in Switzerland.

	Permission to use, and distribute this schema and its accompanying documentation 
	for any purpose and without fee is hereby granted in perpetuity, provided that 
	the above copyright notice and this paragraph appear in all copies and this schema 
	file is not altered.
	The copyright holders make no representation about the suitability of the schema
	for any purpose.

	It is provided "as is" without expressed or implied warranty.

	Copyright (c) 2024 Forum Datenaustausch, 
	All Rights Reserved.
  ==========================================================================  -->
<schema targetNamespace="http://www.forum-datenaustausch.ch/invoice" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:xenc="http://www.w3.org/2001/04/xmlenc#"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	xmlns:invoice="http://www.forum-datenaustausch.ch/invoice" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">

<!-- =======================================================================
	W3C locations:
	   	http://www.w3.org/TR/xmlenc-core1/xenc-schema.xsd
  		http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd	
 ======================================================================= -->
   <import namespace="http://www.w3.org/2000/09/xmldsig#" 
   		   schemaLocation="./xmldsig-core-schema.xsd"/>
   <import namespace="http://www.w3.org/2001/04/xmlenc#" 
   		   schemaLocation="./xenc-schema.xsd"/>

<!-- =======================================================================
	General data type definitions
 ======================================================================= -->
	<simpleType name="stringType1_3">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_6">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="6"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_9">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_10">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="10"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_15">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="15"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_25">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_30">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_35">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="35"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_50">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_70">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="70"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_80">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="80"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_100">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_140">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="140"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_255">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_350">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="350"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_700">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="700"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringType1_2800">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="2800"/>
		</restriction>
	</simpleType>

	<!--  pattern definition for a filename -->
	<simpleType name="filenameType">
		<restriction base="string">
			<pattern value="([A-Za-z0-9._-]{1,250}\.[A-Za-z0-9_-]{3,4})"/>
		</restriction>
	</simpleType>
	
	<!--  GLN, ZSR, ISO3166A-2, GUID and SSN numbers -->
	<simpleType name="glnPartyType">
		<restriction base="string">
			<pattern value="([0-9]{13})"/>
		</restriction>
	</simpleType>
	<simpleType name="zsrPartyType">
		<restriction base="string">
			<pattern value="([A-Z][0-9]{6})"/>
		</restriction>
	</simpleType>
	<simpleType name="iso3166A2Type">
		<restriction base="string">
			<pattern value="([A-Z]{2})"/>
		</restriction>
	</simpleType>
	<simpleType name="guidType">
		<restriction base="string">
			<pattern value="[A-Fa-f0-9]{32}"/>
		</restriction>
	</simpleType>
	<simpleType name="ssnPartyType">
		<restriction base="string">
			<pattern value="[0-9]{4,10}|756[0-9]{10}|438[0-9]{10}"/>
		</restriction>
	</simpleType>

<!-- =======================================================================
	address related definitions for persons and companies
 ======================================================================= -->
	<complexType name="personType">
		<sequence>
			<element name="familyname" type="invoice:stringType1_35"/>
			<element name="givenname" type="invoice:stringType1_35"/>
			<element name="subaddressing" type="invoice:stringType1_35" minOccurs="0"/>
			<element name="postal" type="invoice:postalAddressType"/>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	
	<complexType name="companyType">
		<sequence>
			<element name="companyname" type="invoice:stringType1_35"/>
			<element name="department" type="invoice:stringType1_35" minOccurs="0"/>
			<element name="subaddressing" type="invoice:stringType1_35" minOccurs="0"/>
			<element name="postal" type="invoice:postalAddressType"/>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="postalAddressType">
		<sequence>
			<element name="pobox" type="invoice:stringType1_35" minOccurs="0"/>
			<element name="street" type="invoice:streetType" minOccurs="0"/>
			<element name="zip" type="invoice:zipType"/>
			<element name="city" type="invoice:stringType1_35"/>
			<element name="country" type="invoice:countryType" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="streetType">
		<simpleContent>
			<extension base="invoice:stringType1_35">
				<attribute name="street_name" type="invoice:stringType1_35"/>
				<attribute name="house_no" type="invoice:stringType1_10"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="zipType">
		<simpleContent>
			<extension base="invoice:stringType1_9">
				<attribute name="state_code" type="invoice:stringType1_9"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="countryType">
		<simpleContent>
			<extension base="invoice:stringType1_35">
				<attribute name="country_code" type="invoice:iso3166A2Type" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="telecomAddressType">
		<sequence>
			<element name="phone" type="invoice:stringType1_25" maxOccurs="3"/>
		</sequence>
	</complexType>

	<complexType name="onlineAddressType">
		<sequence>
			<element name="email" maxOccurs="3">
				<simpleType>
					<restriction base="invoice:stringType1_80">
						<pattern value=".+@.+"/>
					</restriction>
				</simpleType>
			</element>
			<element name="uri" minOccurs="0" maxOccurs="3">
				<simpleType>
					<restriction base="anyURI">
						<minLength value="1"/>
						<maxLength value="160"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="billersAddressType">
		<sequence>
			<element name="biller_gln" type="invoice:billerGLNAddressType"/>
			<element name="biller_zsr" type="invoice:zsrAddressType" minOccurs="0"/>
		</sequence>
	</complexType>
 
	<complexType name="billerGLNAddressType">
		<choice>
			<element name="company" type="invoice:companyType"/>
			<element name="person" type="invoice:personType"/>
		</choice>
		<attribute name="gln" type="invoice:glnPartyType" use="required"/>
	</complexType>

	<complexType name="debitorAddressType">
		<choice>
			<element name="company" type="invoice:companyType"/>
			<element name="person" type="invoice:personType"/>
		</choice>
		<attribute name="gln" type="invoice:glnPartyType" use="required"/>
		<attribute name="uid" type="invoice:stringType1_15"/> 		
	</complexType>


	<complexType name="providersAddressType">
		<sequence>
			<element name="provider_gln" type="invoice:providerGLNAddressType"/>
			<element name="provider_zsr" type="invoice:zsrAddressType" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="providerGLNAddressType">
		<choice>
			<element name="company" type="invoice:companyType"/>
			<element name="person" type="invoice:personType"/>
		</choice>
		<attribute name="gln" type="invoice:glnPartyType" use="required"/>
		<attribute name="gln_location" type="invoice:glnPartyType" use="required"/>
		<attribute name="uid" type="invoice:stringType1_15"/> 		
	</complexType>

	<complexType name="zsrAddressType">
		<choice>
			<element name="company" type="invoice:companyType"/>
			<element name="person" type="invoice:personType"/>
		</choice>
		<attribute name="zsr" type="invoice:zsrPartyType" use="required"/>
	</complexType>

	<complexType name="insuranceAddressType">
		<choice>
			<element name="company" type="invoice:companyType"/>
			<element name="person" type="invoice:personType"/>
		</choice>
		<attribute name="gln" type="invoice:glnPartyType" use="required"/>
	</complexType>

	<complexType name="patientAddressType">
		<sequence>
			<element name="person" type="invoice:personType"/>
		</sequence>
		<attribute name="gender" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="male"/>
					<enumeration value="female"/>
					<enumeration value="diverse"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="sex" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="male"/>
					<enumeration value="female"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="birthdate" type="date" use="required"/>
		<attribute name="ssn" type="invoice:ssnPartyType" use="required"/>
	</complexType>

	<complexType name="contactAddressType">
		<choice>
			<element name="person" type="invoice:personType"/>
			<sequence>
				<element name="company" type="invoice:companyType"/>
				<element name="employee" type="invoice:employeeType" minOccurs="0"/>
			</sequence>
		</choice>
		<attribute name="gln" type="invoice:glnPartyType"/>
	</complexType>

	<complexType name="employeeType">
		<sequence>
			<element name="familyname" type="invoice:stringType1_35"/>
			<element name="givenname" type="invoice:stringType1_35" minOccurs="0"/>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>

<!-- =======================================================================
	service record definitions
 ======================================================================= -->
	<complexType name="servicesType">
		<choice maxOccurs="unbounded">
			<element name="service_ex" type="invoice:serviceExType"/>
			<element name="service" type="invoice:serviceType"/>
		</choice>
	</complexType>

	<complexType name="serviceExType">
		<attribute name="record_id" use="required">
			<simpleType>
				<restriction base="int">
					<minInclusive value="1"/>
					<maxInclusive value="999999999"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="tariff_type" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9A-Z]{3}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="code" type="invoice:stringType1_30" use="required"/>
		<attribute name="ref_code" type="invoice:stringType1_30"/>
		<attribute name="name" type="invoice:stringType1_350" use="required"/>
		<attribute name="session" default="1">
			<simpleType>
				<restriction base="int">
					<minInclusive value="1"/>
					<maxInclusive value="999999"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="group_size" type="positiveInteger" default="1"/>
		<attribute name="quantity_original" type="double" use="required"/>
		<attribute name="quantity_modified" type="double" use="required"/>
		<attribute name="date_begin" type="dateTime" use="required"/>
		<attribute name="date_end" type="dateTime"/>
		<attribute name="provider_id" type="invoice:glnPartyType" use="required"/>
		<attribute name="responsible_id" type="invoice:glnPartyType" use="required"/>
		<attribute name="billing_role" default="both">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="mt"/>
					<enumeration value="tt"/>
					<enumeration value="both"/>
					<enumeration value="none"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="medical_role" default="self_employed">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="self_employed"/>
					<enumeration value="employee"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="body_location" default="none">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="none"/>
					<enumeration value="left"/>
					<enumeration value="right"/>
					<enumeration value="both"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="unit_mt" type="double" use="required"/>
		<attribute name="unit_factor_mt" use="required">
			<simpleType>
				<restriction base="double">
					<minExclusive value="0.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="scale_factor_mt" type="double" default="1.0"/>
		<attribute name="external_factor_mt" default="1.0">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount_mt" type="double" default="0.0"/>
		<attribute name="unit_tt" type="double" use="required"/>
		<attribute name="unit_factor_tt" use="required">
			<simpleType>
				<restriction base="double">
					<minExclusive value="0.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="scale_factor_tt" type="double" default="1.0"/>
		<attribute name="external_factor_tt" default="1.0">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount_tt" type="double" default="0.0"/>
		<attribute name="amount_original" type="double" use="required"/>
		<attribute name="amount_modified" type="double" use="required"/>
		<attribute name="vat_rate" default="0.0">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0"/>
					<maxInclusive value="100"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="section_code" type="invoice:stringType1_9"/>
		<attribute name="remark" type="invoice:stringType1_350"/>
		<attribute name="service_attributes" type="unsignedInt" default="0"/>
	</complexType>

	<complexType name="serviceType">	
		<attribute name="record_id" use="required">
			<simpleType>
				<restriction base="int">
					<minInclusive value="1"/>
					<maxInclusive value="999999999"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="tariff_type" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9A-Z]{3}"/>
				</restriction>
			</simpleType>
		</attribute>

		<attribute name="code" type="invoice:stringType1_30" use="required"/>
		<attribute name="ref_code" type="invoice:stringType1_30"/>
		<attribute name="name" type="invoice:stringType1_350" use="required"/>
		<attribute name="session" default="1">
			<simpleType>
				<restriction base="int">
					<minInclusive value="1"/>
					<maxInclusive value="999999"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="group_size" type="positiveInteger" default="1"/>
		<attribute name="quantity_original" type="double" use="required"/>
		<attribute name="quantity_modified" type="double" use="required"/>
		<attribute name="date_begin" type="dateTime" use="required"/>
		<attribute name="date_end" type="dateTime"/>
		<attribute name="provider_id" type="invoice:glnPartyType" use="required"/>
		<attribute name="responsible_id" type="invoice:glnPartyType" use="required"/>
		
		<attribute name="body_location" default="none">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="none"/>
					<enumeration value="left"/>
					<enumeration value="right"/>
					<enumeration value="both"/>
				</restriction>
			</simpleType>
		</attribute>
		
		<attribute name="unit" type="double" use="required"/>
		<attribute name="unit_factor" default="1.0">
			<simpleType>
				<restriction base="double">
					<minExclusive value="0.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="external_factor" default="1.0">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount_original" type="double" use="required"/>
		<attribute name="amount_modified" type="double" use="required"/>
		<attribute name="vat_rate" default="0">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0"/>
					<maxInclusive value="100"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="section_code" type="invoice:stringType1_9"/>
		<attribute name="remark" type="invoice:stringType1_350"/>
		<attribute name="service_attributes" type="unsignedInt" default="0"/>
	</complexType>


	<complexType name="garantType">
		<sequence>
			<element name="notification" type="invoice:pendingType"/>
		</sequence>

		<attribute name="recipient" default="provider">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="provider"/>
					<enumeration value="debitor"/>
					<enumeration value="third_party"/>
				</restriction>
			</simpleType>
		</attribute>		
	</complexType>

	<complexType name="soldantType">
		<choice>
			<element name="pending" type="invoice:pendingType"/>
			<element name="rejected" type="invoice:rejectedType"/>
			<element name="accepted" type="invoice:acceptedTSType"/>
		</choice>
	</complexType>

	<complexType name="payantType">
		<choice>
			<element name="pending" type="invoice:pendingType"/>
			<element name="rejected" type="invoice:rejectedType"/>
			<element name="accepted" type="invoice:acceptedTPType"/>
		</choice>
		<attribute name="allowModification" type="boolean" use="required"/>	
	</complexType>

	<complexType name="esrAddressType">
		<choice>
			<element name="person" type="invoice:personType"/>
			<element name="company" type="invoice:companyType"/>
		</choice>
	</complexType>

<!-- =======================================================================
	reimbursement: data type definitions regarding a reimbursement process

	Note, that in such a process there are 2 address roles (debitor, creditor) 
	involved plus an esrQR payment part.

 ======================================================================= -->
	<complexType name="reimbursementType">
		<sequence>
			<element name="debitor" type="invoice:esrAddressType"/>
			<choice>			
				<element name="esrQR" type="invoice:esrQRType"/>
				<element name="esrQRRed" type="invoice:esrQRRedType"/>	
			</choice>			
		</sequence>
		
		<attribute name="vat" type="double" use="required"/>
		<attribute name="vat_number" type="invoice:stringType1_15"/>	
	</complexType>

<!-- =======================================================================
	esrQR/esrQRRed related definitions
 ======================================================================= -->

	<complexType name="esrQRRedType">
		<sequence>
			<element name="creditor" type="invoice:esrAddressType"/>
		</sequence>	
		<attribute name="subtype" default="esrQRRed">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="esrQRRed"/>
					<enumeration value="esrQRRedplus"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="iban" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="(LI|CH)[0-9]{7}[0-9A-Z]{12}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="reference_number">
			<simpleType>
				<restriction base="string">
					<pattern value="RF[0-9]{2}[0-9A-Za-z]{1,21}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="alternative_scheme1" type="invoice:stringType1_100"/>
		<attribute name="alternative_scheme2" type="invoice:stringType1_100"/>		
		<attribute name="payment_reason" type="invoice:stringType1_140"/>
		<attribute name="payment_period" type="duration"/>
	</complexType>

	<complexType name="esrQRType">
		<sequence>
			<element name="creditor" type="invoice:esrAddressType"/>
		</sequence>
		<attribute name="subtype" default="esrQR">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="esrQR"/>
					<enumeration value="esrQRplus"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="iban" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="(LI|CH)[0-9]{7}[0-9A-Z]{12}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="reference_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{27}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="alternative_scheme1" type="invoice:stringType1_100"/>
		<attribute name="alternative_scheme2" type="invoice:stringType1_100"/>		
		<attribute name="payment_reason" type="invoice:stringType1_140"/>
		<attribute name="payment_period" type="duration"/>		
	</complexType>

<!-- =======================================================================
	data type definitions for the 3 fundamental response status types
	pending | accepted | rejected 
 ======================================================================= -->
 
	<complexType name="statusType">
		<attribute name="status_in" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="unknown"/>
					<enumeration value="ambiguous"/>
					<enumeration value="received"/>
					<enumeration value="frozen"/>
					<enumeration value="processed"/>
					<enumeration value="granted"/>
					<enumeration value="canceled"/>
					<enumeration value="claimed"/>
					<enumeration value="reimbursed"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="status_out" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="unknown"/>
					<enumeration value="ambiguous"/>
					<enumeration value="received"/>
					<enumeration value="frozen"/>
					<enumeration value="processed"/>
					<enumeration value="granted"/>
					<enumeration value="canceled"/>
					<enumeration value="claimed"/>
					<enumeration value="reimbursed"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	
	<complexType name="balanceTSType">
		<attribute name="currency" type="string" fixed="CHF"/>
		<attribute name="amount" type="double" use="required"/>
		<attribute name="amount_reminder" type="double" default="0"/>
		<attribute name="amount_due" type="double" use="required"/>
		<attribute name="amount_paid" type="double" use="required"/>
		<attribute name="amount_unpaid" type="double" use="required"/>
	</complexType>

	<complexType name="balanceTPType">
		<attribute name="currency" type="string" fixed="CHF"/>
		<attribute name="amount" type="double" use="required"/>
		<attribute name="amount_reminder" type="double" default="0"/>
		<attribute name="amount_due" type="double" use="required"/>
		<attribute name="amount_delta" type="double" default="0"/>
		<attribute name="amount_paid" type="double" use="required"/>
	</complexType>


	<complexType name="pendingType">
		<complexContent>
			<extension base="invoice:statusType">
			<sequence>
				<element name="explanation" type="invoice:stringType1_2800" minOccurs="0"/>
				<element name="message" type="invoice:notificationType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="acceptedTSType">
		<complexContent>
			<extension base="invoice:statusType">
			<sequence>
				<element name="explanation" type="invoice:stringType1_2800" minOccurs="0"/>
				<element name="balance" type="invoice:balanceTSType"/>
				<element name="reimbursement" type="invoice:reimbursementType" minOccurs="0"/>
			</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="acceptedTPType">
		<complexContent>
			<extension base="invoice:statusType">
			<sequence>
				<element name="explanation" type="invoice:stringType1_2800" minOccurs="0"/>
				<element name="services" type="invoice:servicesType" minOccurs="0"/>
				<element name="balance" type="invoice:balanceTPType"/>
				<element name="reimbursement" type="invoice:reimbursementType" minOccurs="0"/>
			</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="rejectedType">
		<complexContent>
			<extension base="invoice:statusType">
			<sequence>
				<element name="explanation" type="invoice:stringType1_2800" minOccurs="0"/>
				<element name="error" type="invoice:errorType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="notificationType">
		<attribute name="code" type="invoice:stringType1_35" use="required"/>
		<attribute name="text" type="invoice:stringType1_700" use="required"/>
	</complexType>

	<complexType name="errorType">
		<complexContent>
			<extension base="invoice:notificationType">
				<attribute name="error_value" type="invoice:stringType1_350"/>
				<attribute name="valid_value" type="invoice:stringType1_350"/>
				<attribute name="record_id" type="positiveInteger"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="processingType">
		<sequence>
			<element name="transport" type="invoice:transportType"/>
		</sequence>
	</complexType>
	
	<complexType name="transportType">
		<sequence>
			<element name="via" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<attribute name="via" type="invoice:glnPartyType" use="required"/>
					<attribute name="sequence_id" type="unsignedShort" use="required"/>
				</complexType>
			</element>
		</sequence>
		<attribute name="from" type="invoice:glnPartyType" use="required"/>
		<attribute name="to" type="invoice:glnPartyType" use="required"/>
	</complexType>

<!-- =======================================================================
	prolog related definitions with the chain of involved/used software
 ======================================================================= -->
	<complexType name="prologType">
		<sequence>
			<element name="package" type="invoice:softwareType" minOccurs="0"/>
			<element name="generator" type="invoice:softwareType"/>
		</sequence>
	</complexType>

	<complexType name="softwareType">
		<sequence>
			<element name="depends_on" type="invoice:dependsOnType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="name" type="invoice:stringType1_50" use="required"/>
		<attribute name="copyright" type="invoice:stringType1_50"/>
		<attribute name="description" type="invoice:stringType1_50"/>
		<attribute name="version" type="unsignedInt"/>
		<attribute name="id" type="unsignedInt" default="0"/>
	</complexType>

	<complexType name="dependsOnType">
		<attribute name="name" type="invoice:stringType1_50" use="required"/>
		<attribute name="copyright" type="invoice:stringType1_50"/>
		<attribute name="description" type="invoice:stringType1_50"/>
		<attribute name="version" type="unsignedInt"/>
		<attribute name="id" type="unsignedInt" default="0"/>
	</complexType>

	<complexType name="creditType">
		<attribute name="request_timestamp" use="required">
			<simpleType>
				<restriction base="unsignedLong">
					<minInclusive value="1420066800"/>
					<maxInclusive value="2890245600"/>					
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="request_date" type="dateTime" use="required"/>
		<attribute name="request_id" type="invoice:stringType1_35" use="required"/>
	</complexType>
	
	<complexType name="invoiceType">
		<attribute name="request_timestamp" use="required">
			<simpleType>
				<restriction base="unsignedLong">
					<minInclusive value="1420066800"/>
					<maxInclusive value="2890245600"/>					
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="request_date" type="dateTime" use="required"/>
		<attribute name="request_id" type="invoice:stringType1_35" use="required"/>
	</complexType>
	
	<complexType name="reminderType">
		<attribute name="request_timestamp" use="required">
			<simpleType>
				<restriction base="unsignedLong">
					<minInclusive value="1420066800"/>
					<maxInclusive value="2890245600"/>					
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="request_date" type="dateTime" use="required"/>
		<attribute name="request_id" type="invoice:stringType1_35" use="required"/>
		<attribute name="reminder_level" default="1">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="1"/>
					<enumeration value="2"/>
					<enumeration value="3"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

<!-- =======================================================================
	APID/ACID treatment information definitions
 ======================================================================= -->
	<complexType name="treatmentType">
		<attribute name="date_begin" type="date" use="required"/>
		<attribute name="date_end" type="date" use="required"/>
		<attribute name="canton" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="AG"/>
					<enumeration value="AI"/>
					<enumeration value="AR"/>
					<enumeration value="BE"/>
					<enumeration value="BL"/>
					<enumeration value="BS"/>
					<enumeration value="FR"/>
					<enumeration value="GE"/>
					<enumeration value="GL"/>
					<enumeration value="GR"/>
					<enumeration value="JU"/>
					<enumeration value="LU"/>
					<enumeration value="NE"/>
					<enumeration value="NW"/>
					<enumeration value="OW"/>
					<enumeration value="SG"/>
					<enumeration value="SH"/>
					<enumeration value="SO"/>
					<enumeration value="SZ"/>
					<enumeration value="TI"/>
					<enumeration value="TG"/>
					<enumeration value="UR"/>
					<enumeration value="VD"/>
					<enumeration value="VS"/>
					<enumeration value="ZG"/>
					<enumeration value="ZH"/>
					<enumeration value="LI"/>
					<enumeration value="A"/>
					<enumeration value="D"/>
					<enumeration value="F"/>
					<enumeration value="I"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="treatment" default="ambulatory">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="ambulatory"/>
					<enumeration value="stationary"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
					<enumeration value="birthdefect"/>
					<enumeration value="unknown"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="gestation_week13" type="date"/>
		<attribute name="end_of_birth" type="date"/>		
		<attribute name="apid" type="invoice:stringType1_35"/>
		<attribute name="acid" type="invoice:stringType1_35"/>
	</complexType>

	<complexType name="documentsType">
		<sequence>
			<element name="document" type="invoice:documentType" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="number" type="unsignedLong" use="required"/>
	</complexType>

	<complexType name="documentType">
		<sequence>
			<element name="base64" type="base64Binary"/>
		</sequence>

		<attribute name="filename" type="invoice:filenameType" use="required"/>
		<attribute name="documentType" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="Report"/>
					<enumeration value="Image"/>
					<enumeration value="Unemployability"/>
					<enumeration value="Questionnaire"/>
					<enumeration value="Notification"/>
					<enumeration value="Planning"/>
					<enumeration value="Prescription"/>
					<enumeration value="SalaryCession"/>
					<enumeration value="UndefinedDoc"/>
				</restriction>
			</simpleType>
		</attribute>		
		<attribute name="mimeType" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="(application/pdf|image/jpeg|image/png)"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

<!-- =======================================================================
	body definition with all sensitive data regarding data privacy
	This element and subelements therein can be encrypted 
 ======================================================================= -->
	<complexType name="bodyType">
		<sequence>
			<element name="prolog" type="invoice:prologType"/>
			<element name="billers" type="invoice:billersAddressType"/>
			<element name="debitor" type="invoice:debitorAddressType"/>
			<element name="providers" type="invoice:providersAddressType"/>
			<element name="insurance" type="invoice:insuranceAddressType"/>
			<element name="patient" type="invoice:patientAddressType"/>
			<element name="contact" type="invoice:contactAddressType"/>
			<element name="treatment" type="invoice:treatmentType"/>
			
			<choice>
				<element name="tiers_garant" type="invoice:garantType"/>
				<element name="tiers_soldant" type="invoice:soldantType"/>
				<element name="tiers_payant" type="invoice:payantType"/>
			</choice>
			
			<element name="documents" type="invoice:documentsType" minOccurs="0"/>
		</sequence>
	</complexType>

<!-- =======================================================================
	payload definitions with the mirrored chain of object references (credit, 
	invoice, and reminder) plus the sensitive data regarding data privacy
	This element and subelements therein can be signed
 ======================================================================= -->
	<complexType name="payloadType">
		<sequence>
			<element name="credit" type="invoice:creditType" minOccurs="0"/>
			<element name="invoice" type="invoice:invoiceType"/>
			<element name="reminder" type="invoice:reminderType" minOccurs="0"/>
			<choice>
				<element name="body" type="invoice:bodyType"/>
				<element ref="xenc:EncryptedData"/>
			</choice>
		</sequence>
		<attribute name="request_type" default="invoice">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="invoice"/>
					<enumeration value="reminder"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="request_subtype" default="normal">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="normal"/>
					<enumeration value="copy"/>
					<enumeration value="refund"/>
					<enumeration value="storno"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="response_timestamp" use="required">
			<simpleType>
				<restriction base="unsignedLong">
					<minInclusive value="1420066800"/>
					<maxInclusive value="2890245600"/>					
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	
<!-- =======================================================================
     =======================================================================
	Here starts the response with its root element
 =======================================================================
 ======================================================================= -->
	<element name="response" type="invoice:responseType"/>


	<complexType name="responseType">
		<sequence>
			<element name="processing" type="invoice:processingType"/>
			<element name="payload" type="invoice:payloadType"/>
			<element ref="ds:Signature" minOccurs="0"/>
		</sequence>

		<attribute name="language" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="de"/>
					<enumeration value="fr"/>
					<enumeration value="it"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="modus" default="production">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="production"/>
					<enumeration value="test"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="guid" type="invoice:guidType" use="required"/>		
	</complexType>
</schema>
