bundles/ch.docbox.elexis/rsc/ch/docbox/ws/cdachservices/CDACHServices2.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="CDACHServices"
                  targetNamespace="https://soap.docbox.swiss/CDACHServices/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="https://soap.docbox.swiss/CDACHServices/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:cda="urn:hl7-org:v3">
  <wsdl:documentation>
    SOAP webservice for CDACHServices, see documentation at https://api.test.docbox.swiss/doc/soap/
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="https://soap.docbox.swiss/CDACHServices/">
      <xsd:import namespace="urn:hl7-org:v3" schemaLocation="https://soap.docbox.swiss/wsdl/CDA.xsd"/>
      <xsd:complexType name="DocumentInfoType">
        <xsd:sequence>
          <xsd:element name="title" type="xsd:string"/>
          <xsd:element name="message" type="xsd:string"/>
          <xsd:element name="code" type="cda:CE"/>
          <xsd:element name="documentID" type="xsd:string"/>
          <xsd:element name="creationDate" type="xsd:dateTime"/>
          <xsd:element name="lastDownload" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AppointmentType">
        <xsd:sequence>
          <xsd:element name="date" type="xsd:dateTime"/>
          <xsd:element name="duration" type="xsd:long"/>
          <xsd:element name="id" type="xsd:string"/>
          <xsd:element name="state">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="salesrepresentative-open"/>
                <xsd:enumeration value="salesrepresentative-booked"/>
                <xsd:enumeration value="salesrepresentative-openrequest"/>
                <xsd:enumeration value="salesrepresentative-openinvitation"/>
                <xsd:enumeration value="salesrepresentative-phone"/>
                <xsd:enumeration value="emergencyservice"/>
                <xsd:enumeration value="canceled"/>
                <xsd:enumeration value="terminierung-booked"/>
                <xsd:enumeration value="terminierung-open"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="reasonTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="reasonDetails" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="visitor" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="info" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="checkAccess">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkAccessResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addReferral">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="document" type="cda:ClinicalDocumentType"/>
            <xsd:element name="attachment" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addReferralResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="documentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getInboxClinicalDocuments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="cda:CE" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getInboxClinicalDocumentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="document" type="tns:DocumentInfoType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClinicalDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClinicalDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="document" type="cda:ClinicalDocumentType"/>
            <xsd:element name="attachment" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCalendar">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCalendarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="appointment" type="tns:AppointmentType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteAgendaEntry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="msgTitle" type="xsd:string"/>
            <xsd:element name="msgBody" type="xsd:string"/>
            <xsd:element name="param" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteAgendaEntryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendClinicalDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="document" type="cda:ClinicalDocumentType"/>
            <xsd:element name="attachment" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendClinicalDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="documentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecipients">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecipientsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="recipient" type="cda:POCD_MT000040.IntendedRecipient" minOccurs="0"
                         maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkAccessRequest">
    <wsdl:part name="parameters" element="tns:checkAccess"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAccessResponse">
    <wsdl:part name="parameters" element="tns:checkAccessResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addReferralRequest">
    <wsdl:part element="tns:addReferral" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addReferralResponse">
    <wsdl:part element="tns:addReferralResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getInboxClinicalDocumentsRequest">
    <wsdl:part element="tns:getInboxClinicalDocuments" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getInboxClinicalDocumentsResponse">
    <wsdl:part element="tns:getInboxClinicalDocumentsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getClinicalDocumentRequest">
    <wsdl:part element="tns:getClinicalDocument" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getClinicalDocumentResponse">
    <wsdl:part element="tns:getClinicalDocumentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCalendar">
    <wsdl:part element="tns:getCalendar" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCalendarResponse">
    <wsdl:part element="tns:getCalendarResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteAgendaEntry">
    <wsdl:part element="tns:deleteAgendaEntry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteAgendaEntryResponse">
    <wsdl:part element="tns:deleteAgendaEntryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sendClinicalDocumentRequest">
    <wsdl:part name="parameters" element="tns:sendClinicalDocument"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendClinicalDocumentResponse">
    <wsdl:part name="parameters" element="tns:sendClinicalDocumentResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecipientsRequest">
    <wsdl:part name="parameters" element="tns:getRecipients"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecipientsResponse">
    <wsdl:part name="parameters" element="tns:getRecipientsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CDACHServices">
    <wsdl:operation name="checkAccess">
      <wsdl:input message="tns:checkAccessRequest"></wsdl:input>
      <wsdl:output message="tns:checkAccessResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReferral">
      <wsdl:input message="tns:addReferralRequest"/>
      <wsdl:output message="tns:addReferralResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getInboxClinicalDocuments">
      <wsdl:input message="tns:getInboxClinicalDocumentsRequest"/>
      <wsdl:output message="tns:getInboxClinicalDocumentsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getClinicalDocument">
      <wsdl:input message="tns:getClinicalDocumentRequest"/>
      <wsdl:output message="tns:getClinicalDocumentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCalendar">
      <wsdl:input message="tns:getCalendar"/>
      <wsdl:output message="tns:getCalendarResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteAgendaEntry">
      <wsdl:input message="tns:deleteAgendaEntry"/>
      <wsdl:output message="tns:deleteAgendaEntryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendClinicalDocument">
      <wsdl:input message="tns:sendClinicalDocumentRequest"></wsdl:input>
      <wsdl:output message="tns:sendClinicalDocumentResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipients">
      <wsdl:input message="tns:getRecipientsRequest"></wsdl:input>
      <wsdl:output message="tns:getRecipientsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CDACHServices" type="tns:CDACHServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkAccess">
      <soap:operation soapAction="https://soap.docbox.swiss/CDACHServices/checkAccess"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReferral">
      <soap:operation soapAction="https://soap.docbox.swiss/CDACHServices/addReferral"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInboxClinicalDocuments">
      <soap:operation soapAction="https://soap.docbox.swiss/CDACHServices/getInboxClinicalDocuments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicalDocument">
      <soap:operation soapAction="https://soap.docbox.swiss/CDACHServices/getClinicalDocument"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCalendar">
      <soap:operation soapAction="https://soap.docbox.swiss/CDACHServices/getCalendar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAgendaEntry">
      <soap:operation soapAction="https://soap.docbox.swiss/CDACHServices/deleteAgendaEntry"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendClinicalDocument">
      <soap:operation soapAction="https://soap.docbox.swiss/CDACHServices/sendClinicalDocument"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipients">
      <soap:operation soapAction="https://soap.docbox.swiss/CDACHServices/getRecipients"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDACHServices">
    <wsdl:port binding="tns:CDACHServices" name="CDACHServices">
      <wsdl:documentation>
        Production webservice for CDACHServices, see documentation at https://api.test.docbox.swiss/doc/soap/
      </wsdl:documentation>
      <soap:address location="https://soap.docbox.swiss/CDACHServices"/>
    </wsdl:port>
    <wsdl:port binding="tns:CDACHServices" name="TestCDACHServices">
      <wsdl:documentation>
        Test webservice for CDACHServices, see documentation at https://api.test.docbox.swiss/doc/soap/
      </wsdl:documentation>
      <soap:address location="https://soap.test.docbox.swiss/CDACHServices"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>