ch.elexis.base.ch.arzttarife/rsc/MDInvoiceRequest_400.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==========================================================================
   Date of Generation: 01.11.2003

   This is the schema definition for a "MD Invoice Request" process encoded
   in XML. The MDInvoiceRequest is generated when sending one invoice to a
   recipient via an intermediate either as tier garant (recipient= guarantor)
   or tiers payant (recipient=insurance). That is the sender deals with the
   intermediate in the sense of a mailbox. It is the intermediate's responsibility
   to manage the communication with the recipeint - insurance or guarantor.

   This is normative for the electronic invoice project XMLInvoice.

   Permission to use, and distribute this schema and its accompanying
   documentation for any purpose and without fee is hereby granted in perpetuity,
   provided that the above copyright notice and this paragraph appear in all copies
   and this schema file is not altered.
   The copyright holders make no representation about the suitability of the schema
   for any purpose.

   It is provided "as is" without expressed or implied warranty.

   Copyright (c) 2004 Forum Datenaustausch, All Rights Reserved. 
   
   ========================================================================== -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:invoice="http://www.xmlData.ch/xmlInvoice/XSD" targetNamespace="http://www.xmlData.ch/xmlInvoice/XSD" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
	Datentyp string 1 bis 3 Zeichen 
	-->
	<simpleType name="stringType1_3">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 9 Zeichen
	-->
	<simpleType name="stringType1_9">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 12 Zeichen
	-->
	<simpleType name="stringType1_12">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="12"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 20 Zeichen
	-->
	<simpleType name="stringType1_20">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 25 Zeichen
	-->
	<simpleType name="stringType1_25">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="25"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 35 Zeichen
	-->
	<simpleType name="stringType1_35">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="35"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 50 Zeichen
	-->
	<simpleType name="stringType1_50">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 70 Zeichen
	-->
	<simpleType name="stringType1_70">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="70"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 100 Zeichen
	-->
	<simpleType name="stringType1_100">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 1 bis 350 Zeichen
	-->
	<simpleType name="stringType1_350">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="350"/>
		</restriction>
	</simpleType>
	<!--
	Datentyp string 0 bis 350 Zeichen
	-->
	<simpleType name="stringType0_350">
		<restriction base="string">
			<maxLength value="350"/>
		</restriction>
	</simpleType>
	<!--
	EAN-, ZSR- und AHV-Nr.
	-->
	<simpleType name="eanPartyType">
		<restriction base="string">
			<pattern value="(20[0-9]{11}|76[0-9]{11})"/>
		</restriction>
	</simpleType>
	<simpleType name="xtendEanPartyType">
		<restriction base="string">
			<pattern value="(20[0-9]{11}|76[0-9]{11}|unknown)"/>
		</restriction>
	</simpleType>
	<simpleType name="zsrPartyType">
		<restriction base="string">
			<pattern value="([A-Z][0-9]{6})"/>
		</restriction>
	</simpleType>
	<simpleType name="unionPartyType">
		<union memberTypes="invoice:xtendEanPartyType invoice:zsrPartyType"/>
	</simpleType>
	<simpleType name="ssnPartyType">
		<restriction base="string">
			<pattern value="[1-9][0-9]{10}|[1-9][0-9]{12}"/>
		</restriction>
	</simpleType>
	<simpleType name="ssn13PartyType">
		<restriction base="string">
			<pattern value="[1-9][0-9]{12}"/>
		</restriction>
	</simpleType>
	<!--
	Adressen
	-->
	<complexType name="companyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<element name="postal" type="invoice:postalAddressType" minOccurs="0"/>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="personType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<element name="postal" type="invoice:postalAddressType" minOccurs="0"/>
			<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
			<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="zipType">
		<simpleContent>
			<extension base="invoice:stringType1_9">
				<attribute name="statecode" type="invoice:stringType1_9"/>
				<attribute name="countrycode" type="invoice:stringType1_3" default="CH"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="postalAddressType">
		<sequence>
			<sequence>
				<element name="pobox" type="invoice:stringType1_35" minOccurs="0"/>
				<element name="street" type="invoice:stringType1_35" minOccurs="0"/>
			</sequence>
			<element name="zip" type="invoice:zipType"/>
			<element name="city" type="invoice:stringType1_35"/>
		</sequence>
	</complexType>
	<complexType name="telecomAddressType">
		<sequence>
			<element name="phone" type="invoice:stringType1_25" maxOccurs="3"/>
			<element name="fax" type="invoice:stringType1_25" minOccurs="0" maxOccurs="3"/>
		</sequence>
	</complexType>
	<complexType name="onlineAddressType">
		<sequence>
			<element name="email" maxOccurs="3">
				<simpleType>
					<restriction base="invoice:stringType1_70">
						<pattern value=".+@.+"/>
					</restriction>
				</simpleType>
			</element>
			<element name="url" minOccurs="0" maxOccurs="3">
				<simpleType>
					<restriction base="anyURI">
						<minLength value="1"/>
						<maxLength value="100"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<!--
	Adresse Arbeitgeber
	-->
	<complexType name="employerCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="employerPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="employerAddressType">
		<choice>
			<element name="ean_party" type="invoice:eanPartyType"/>
			<element name="company" type="invoice:employerCompanyType"/>
			<element name="person" type="invoice:employerPersonType"/>
			<element name="reg_number" type="invoice:stringType1_35"/>
		</choice>
	</complexType>
	<!--
	Adresse Rechnungssteller
	-->
	<complexType name="billerCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="billerPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="billerAddressType">
		<choice minOccurs="0">
			<element name="company" type="invoice:billerCompanyType"/>
			<element name="person" type="invoice:billerPersonType"/>
		</choice>
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
		<attribute name="zsr" type="invoice:zsrPartyType"/>
		<attribute name="specialty" type="invoice:stringType1_350"/>
	</complexType>
	<!--
	Adresse Leistungserbringer
	-->
	<complexType name="providerCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="providerPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="providerAddressType">
		<choice minOccurs="0">
			<element name="company" type="invoice:providerCompanyType"/>
			<element name="person" type="invoice:providerPersonType"/>
		</choice>
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
		<attribute name="zsr" type="invoice:zsrPartyType" use="required"/>
		<attribute name="specialty" type="invoice:stringType1_350"/>
	</complexType>
	<!--
	Adresse Versicherung
	-->
	<complexType name="insuranceAddressType">
		<sequence minOccurs="0">
			<element name="company" type="invoice:companyType"/>
		</sequence>
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
	</complexType>
	<!--
	Adresse Patient
	-->
	<complexType name="patientPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="patientAddressType">
		<sequence>
			<element name="person" type="invoice:patientPersonType"/>
		</sequence>
		<attribute name="gender" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="male"/>
					<enumeration value="female"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="birthdate" type="dateTime" use="required"/>
		<attribute name="unique_id" type="invoice:ssn13PartyType"/>
	</complexType>
	<!--
	Adresse Gesetzlicher Vertreter 
	-->
	<complexType name="guarantorCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<complexType name="guarantorPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="guarantorAddressType">
		<choice>
			<element name="company" type="invoice:guarantorCompanyType"/>
			<element name="person" type="invoice:guarantorPersonType"/>
		</choice>
		<attribute name="unique_id" type="invoice:ssn13PartyType"/>
	</complexType>
	<!--
	Adresse Auftraggeber
	-->
	<complexType name="referrerAddressType">
		<choice minOccurs="0">
			<element name="company" type="invoice:companyType"/>
			<element name="person" type="invoice:personType"/>
		</choice>
		<attribute name="ean_party" type="invoice:xtendEanPartyType" default="unknown"/>
		<attribute name="zsr" type="invoice:zsrPartyType"/>
	</complexType>
	<!--
	Adresse Bank
	-->
	<complexType name="bankAddressType">
		<sequence>
			<element name="company" type="invoice:bankCompanyType"/>
		</sequence>
	</complexType>
	<complexType name="bankCompanyType">
		<sequence>
			<sequence>
				<element name="companyname" type="invoice:stringType1_35"/>
				<element name="department" type="invoice:stringType1_35" minOccurs="0" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
	<!--
	Adresse Erbringungsort der abgerechneten Leistungen
	-->
	<complexType name="localityPersonType">
		<sequence>
			<sequence>
				<element name="familyname" type="invoice:stringType1_35"/>
				<element name="givenname" type="invoice:stringType1_35" maxOccurs="3"/>
			</sequence>
			<sequence>
				<element name="postal" type="invoice:postalAddressType"/>
				<element name="telecom" type="invoice:telecomAddressType" minOccurs="0"/>
				<element name="online" type="invoice:onlineAddressType" minOccurs="0"/>
			</sequence>
		</sequence>
		<attribute name="salutation" type="invoice:stringType1_35"/>
		<attribute name="title" type="invoice:stringType1_35"/>
	</complexType>
	<complexType name="localityAddressType">
		<sequence minOccurs="0">
			<element name="person" type="invoice:localityPersonType"/>
		</sequence>
		<attribute name="ean_party" type="invoice:eanPartyType"/>
		<attribute name="zsr" type="invoice:zsrPartyType"/>
	</complexType>
	<!--
	Leistungspsoition "TarMed"
	-->
	<complexType name="recordTarmedType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="treatment" fixed="ambulatory">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="ambulatory"/>
							<enumeration value="semi_stationary"/>
							<enumeration value="stationary"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="tariff_type" type="string" fixed="001"/>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="ref_code" type="invoice:stringType1_20"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="ean_provider" type="invoice:eanPartyType" use="required"/>
				<attribute name="ean_responsible" type="invoice:eanPartyType" use="required"/>
				<attribute name="billing_role" default="both">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="mt"/>
							<enumeration value="tt"/>
							<enumeration value="both"/>
							<enumeration value="none"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="medical_role" default="self_employed">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="self_employed"/>
							<enumeration value="employee"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="body_location" default="none">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="none"/>
							<enumeration value="left"/>
							<enumeration value="right"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit.mt" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor.mt" use="required">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="scale_factor.mt" type="double" default="1.0"/>
				<attribute name="external_factor.mt" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount.mt" type="double" default="0.0"/>
				<attribute name="unit.tt" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor.tt" use="required">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="scale_factor.tt" type="double" default="1.0"/>
				<attribute name="external_factor.tt" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount.tt" type="double" default="0.0"/>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="obligation" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Leistungsposition "Kantonal"
	-->
	<complexType name="recordCantonalType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" use="required">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9A-Z]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="obligation" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Leistungsposition "Uebrige"
	-->
	<complexType name="recordUnclassifiedType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" use="required">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9A-Z]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="obligation" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Leistungsposition "Medikament"
	-->
	<complexType name="recordDrugType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" default="400">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9A-Z]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="obligation" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Leistungsposition "Labor"
	-->
	<complexType name="recordLabType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" default="316">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9A-Z]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="obligation" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Leistungsposition "MiGeL"
	-->
	<complexType name="recordMigelType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" default="452">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9A-Z]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="obligation" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Leistungsposition "Physiotherapie"
	-->
	<complexType name="recordPhysioType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="record_id" type="positiveInteger" use="required"/>
				<attribute name="number" type="positiveInteger" default="1"/>
				<attribute name="tariff_type" default="311">
					<simpleType>
						<restriction base="string">
							<pattern value="[0-9A-Z]{3}"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_20" use="required"/>
				<attribute name="quantity" type="double" use="required"/>
				<attribute name="date_begin" type="dateTime" use="required"/>
				<attribute name="date_end" type="dateTime"/>
				<attribute name="ean_provider" type="invoice:unionPartyType" use="required"/>
				<attribute name="ean_responsible" type="invoice:unionPartyType" use="required"/>
				<attribute name="unit" use="required">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="unit_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minExclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="external_factor" default="1.0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0.0"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="amount" type="double" use="required"/>
				<attribute name="vat_rate" default="0">
					<simpleType>
						<restriction base="double">
							<minInclusive value="0"/>
							<maxInclusive value="100"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="validate" type="boolean" default="true"/>
				<attribute name="obligation" type="boolean" default="true"/>
				<attribute name="remark" type="invoice:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Leistungspositionen
	-->
	<complexType name="servicesType">
		<choice maxOccurs="unbounded">
			<element name="record_tarmed" type="invoice:recordTarmedType"/>
			<element name="record_cantonal" type="invoice:recordCantonalType"/>
			<element name="record_unclassified" type="invoice:recordUnclassifiedType"/>
			<element name="record_lab" type="invoice:recordLabType"/>
			<element name="record_migel" type="invoice:recordMigelType"/>
			<element name="record_physio" type="invoice:recordPhysioType"/>
			<element name="record_drug" type="invoice:recordDrugType"/>
		</choice>
	</complexType>
	<!--
	Angaben zum KVG
	-->
	<complexType name="kvgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
					<enumeration value="birthdefect"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="patient_id" type="invoice:stringType1_35"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="invoice:stringType1_35"/>
	</complexType>
	<!--
	Angaben zum VVG
	-->
	<complexType name="vvgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
					<enumeration value="birthdefect"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="patient_id" type="invoice:stringType1_35"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="invoice:stringType1_35"/>
	</complexType>
	<!--
	Angaben zum UVG
	-->
	<complexType name="uvgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
					<enumeration value="birthdefect"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="patient_id" type="invoice:stringType1_35"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="invoice:stringType1_35"/>
		<attribute name="ssn" type="invoice:ssnPartyType"/>
	</complexType>
	<!--
	Angaben zum IVG
	-->
	<complexType name="ivgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
					<enumeration value="birthdefect"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="case_id" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="([0-9]{14}|[0-9]{10}|[0-9]{9}|[0-9]{6})"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="ssn" type="invoice:ssnPartyType" use="required"/>
		<attribute name="nif" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{1,7}"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!--
	Angaben zum MVG
	-->
	<complexType name="mvgLawType">
		<sequence minOccurs="0">
			<element name="employer" type="invoice:employerAddressType"/>
		</sequence>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
					<enumeration value="birthdefect"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="patient_id" type="invoice:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="ssn" type="invoice:ssnPartyType"/>
	</complexType>
	<!--
	Hier folgen die Angaben zur Diagnose. Ob und wie die Diagnose angegeben werden muss, wird vertraglich
	zwischen den Spitaelern und den Versicherern geregelt.
	-->
	<complexType name="diagnosisType">
		<simpleContent>
			<extension base="invoice:stringType0_350">
				<attribute name="type" default="by_contract">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="ICD10"/>
							<enumeration value="cantonal"/>
							<enumeration value="by_contract"/>
							<enumeration value="freetext"/>
							<enumeration value="birthdefect"/>
							<enumeration value="ICPC"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_12"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Hier folgen Angaben zu Operationsklassifikationen. Ob und wie die Angabe zu erfolgen hat,
	wird vertraglich zwischen den Spitaelern und den Versicherern geregelt.
	-->
	<complexType name="surgeryType">
		<simpleContent>
			<extension base="invoice:stringType0_350">
				<attribute name="type" default="by_contract">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="CHOP"/>
							<enumeration value="cantonal"/>
							<enumeration value="by_contract"/>
							<enumeration value="freetext"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="invoice:stringType1_12"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--
	Beginn Detail
	-->
	<complexType name="detailType">
		<sequence>
			<element name="service_locality" type="invoice:localityAddressType" minOccurs="0"/>
			<element name="diagnosis" type="invoice:diagnosisType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="surgery" type="invoice:surgeryType" minOccurs="0" maxOccurs="unbounded"/>
			<choice>
				<element name="kvg" type="invoice:kvgLawType"/>
				<element name="vvg" type="invoice:vvgLawType"/>
				<element name="uvg" type="invoice:uvgLawType"/>
				<element name="ivg" type="invoice:ivgLawType"/>
				<element name="mvg" type="invoice:mvgLawType"/>
			</choice>
			<element name="services" type="invoice:servicesType"/>
		</sequence>
		<attribute name="date_begin" type="dateTime" use="required"/>
		<attribute name="date_end" type="dateTime" use="required"/>
		<attribute name="canton" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="AG"/>
					<enumeration value="AI"/>
					<enumeration value="AR"/>
					<enumeration value="BE"/>
					<enumeration value="BL"/>
					<enumeration value="BS"/>
					<enumeration value="FR"/>
					<enumeration value="GE"/>
					<enumeration value="GL"/>
					<enumeration value="GR"/>
					<enumeration value="JU"/>
					<enumeration value="LU"/>
					<enumeration value="NE"/>
					<enumeration value="NW"/>
					<enumeration value="OW"/>
					<enumeration value="SG"/>
					<enumeration value="SH"/>
					<enumeration value="SO"/>
					<enumeration value="SZ"/>
					<enumeration value="TI"/>
					<enumeration value="TG"/>
					<enumeration value="UR"/>
					<enumeration value="VD"/>
					<enumeration value="VS"/>
					<enumeration value="ZG"/>
					<enumeration value="ZH"/>
					<enumeration value="LI"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="service_locality" default="practice">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="practice"/>
					<enumeration value="hospital"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="demandType">
		<attribute name="tc_demand_id" type="long" use="required"/>
		<attribute name="tc_token" type="invoice:stringType1_100" use="required"/>
		<attribute name="insurance_demand_date" type="dateTime" use="required"/>
		<attribute name="insurance_demand_id" type="invoice:stringType1_35"/>
	</complexType>
	<!--
	Tiers Garant
	-->
	<complexType name="garantType">
		<sequence>
			<element name="biller" type="invoice:billerAddressType"/>
			<element name="provider" type="invoice:providerAddressType"/>
			<element name="insurance" type="invoice:insuranceAddressType" minOccurs="0"/>
			<element name="patient" type="invoice:patientAddressType"/>
			<element name="guarantor" type="invoice:guarantorAddressType"/>
			<element name="referrer" type="invoice:referrerAddressType" minOccurs="0"/>
			<element name="demand" type="invoice:demandType" minOccurs="0"/>
		</sequence>
		<attribute name="payment_periode" type="duration"/>
	</complexType>
	<!--
	Tiers Payant
	-->
	<complexType name="payantType">
		<sequence>
			<element name="biller" type="invoice:billerAddressType"/>
			<element name="provider" type="invoice:providerAddressType"/>
			<element name="insurance" type="invoice:insuranceAddressType"/>
			<element name="patient" type="invoice:patientAddressType"/>
			<element name="guarantor" type="invoice:guarantorAddressType"/>
			<element name="referrer" type="invoice:referrerAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="invoice_modification" type="boolean" default="false"/>
		<attribute name="purpose" default="invoice">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="invoice"/>
					<enumeration value="annulment"/>
					<enumeration value="creditAdvice"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!--
	ESR 5
	-->
	<complexType name="esr5Type">
		<sequence>
			<element name="bank" type="invoice:bankAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="type" default="15">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="15plus"/>
					<enumeration value="15"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="participant_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{5}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="reference_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9]{5} [0-9]{5} [0-9]{5}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="coding_line" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="(&lt;[0-9]{2}0001[0-9]{9}&gt; [0-9]{15}\+ [0-9]{5}&gt;|[0-9]{15}\+ [0-9]{5}&gt;)"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!--
	ESR 9
	-->
	<complexType name="esr9Type">
		<sequence>
			<element name="bank" type="invoice:bankAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="type" default="16or27">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="16or27plus"/>
					<enumeration value="16or27"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="reference_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="([0-9] [0-9]{5} [0-9]{5} [0-9]{5}|[0-9]{2} [0-9]{5} [0-9]{5} [0-9]{5} [0-9]{5} [0-9]{5})"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="participant_number" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="01-[1-9][0-9]{0,5}-[0-9]"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="coding_line" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="(01[0-9]{11}&gt;[0-9]{16}\+ [0-9]{9}&gt;|042&gt;[0-9]{16}\+ [0-9]{9}&gt;|01[0-9]{11}&gt;[0-9]{27}\+ [0-9]{9}&gt;|042&gt;[0-9]{27}\+ [0-9]{9}&gt;)"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<!--
	Monetaere Betraege
	-->
	<complexType name="vatRateType">
		<attribute name="vat_rate" use="required">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0"/>
					<maxInclusive value="100"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount" type="double" use="required"/>
		<attribute name="vat" type="double" use="required"/>
	</complexType>
	<complexType name="vatType">
		<sequence>
			<element name="vat_rate" type="invoice:vatRateType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="vat_number" type="positiveInteger"/>
		<attribute name="vat" type="double" use="required"/>
	</complexType>
	<complexType name="balanceType">
		<sequence>
			<element name="vat" type="invoice:vatType"/>
		</sequence>
		<attribute name="currency" type="string" fixed="CHF"/>
		<attribute name="amount" type="double" use="required"/>
		<attribute name="amount_prepaid" default="0">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount_due" use="required">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount_tarmed" type="double" default="0"/>
		<attribute name="unit_tarmed.mt" type="double" default="0"/>
		<attribute name="amount_tarmed.mt" type="double" default="0"/>
		<attribute name="unit_tarmed.tt" type="double" default="0"/>
		<attribute name="amount_tarmed.tt" type="double" default="0"/>
		<attribute name="amount_cantonal" type="double" default="0"/>
		<attribute name="amount_unclassified" type="double" default="0"/>
		<attribute name="amount_lab" type="double" default="0"/>
		<attribute name="amount_migel" type="double" default="0"/>
		<attribute name="amount_physio" type="double" default="0"/>
		<attribute name="amount_drug" type="double" default="0"/>
		<attribute name="amount_obligations" type="double" default="0"/>
	</complexType>
	<!--
	Referenz zur KoGu-Bestaetigung
	-->
	<complexType name="creditInfoType">
		<attribute name="response_timestamp" type="unsignedLong" use="required"/>
		<attribute name="response_id" type="invoice:stringType1_35" use="required"/>
	</complexType>
	<!--
	Element invoice
	-->
	<complexType name="invoiceType">
		<sequence>
			<element name="remark" type="invoice:stringType1_350" minOccurs="0"/>
			<element name="creditInfo" type="invoice:creditInfoType" minOccurs="0"/>
			<element name="balance" type="invoice:balanceType"/>
			<choice>
				<element name="esr5" type="invoice:esr5Type"/>
				<element name="esr9" type="invoice:esr9Type"/>
			</choice>
			<choice>
				<element name="tiers_garant" type="invoice:garantType"/>
				<element name="tiers_payant" type="invoice:payantType"/>
			</choice>
			<element name="detail" type="invoice:detailType"/>
		</sequence>
		<attribute name="invoice_timestamp" type="unsignedLong" use="required"/>
		<attribute name="invoice_id" type="invoice:stringType1_35" use="required"/>
		<attribute name="invoice_date" type="dateTime" use="required"/>
		<attribute name="resend" type="boolean" default="false"/>
		<attribute name="case_id" type="invoice:stringType1_35"/>
	</complexType>
	<!--
	Header
	-->
	<complexType name="headerPartyType">
		<attribute name="ean_party" type="invoice:eanPartyType" use="required"/>
	</complexType>
	<complexType name="xtendHeaderPartyType">
		<attribute name="ean_party" type="invoice:xtendEanPartyType" use="required"/>
	</complexType>
	<complexType name="headerType">
		<sequence>
			<element name="sender" type="invoice:headerPartyType"/>
			<element name="intermediate" type="invoice:headerPartyType"/>
			<element name="recipient" type="invoice:xtendHeaderPartyType"/>
		</sequence>
	</complexType>
	<!--
	Prolog
	-->
	<simpleType name="versionType">
		<restriction base="integer">
			<minInclusive value="100"/>
		</restriction>
	</simpleType>
	<complexType name="softwareType">
		<simpleContent>
			<extension base="invoice:stringType1_50">
				<attribute name="version" type="invoice:versionType" use="required"/>
				<attribute name="id" default="0">
					<simpleType>
						<restriction base="integer">
							<minInclusive value="0"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="generatorType">
		<sequence>
			<element name="software" type="invoice:softwareType"/>
		</sequence>
	</complexType>
	<complexType name="dataValidatorType">
		<simpleContent>
			<extension base="invoice:stringType1_350">
				<attribute name="focus" use="required">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="tarmed"/>
							<enumeration value="cantonal"/>
							<enumeration value="lab"/>
							<enumeration value="unclassified"/>
							<enumeration value="drug"/>
							<enumeration value="migel"/>
							<enumeration value="physio"/>
							<enumeration value="other"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="version_software" type="invoice:versionType" use="required"/>
				<attribute name="version_db" type="invoice:versionType" use="required"/>
				<attribute name="id" default="0">
					<simpleType>
						<restriction base="integer">
							<minInclusive value="0"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="prologType">
		<sequence>
			<element name="package" type="invoice:softwareType" minOccurs="0"/>
			<element name="generator" type="invoice:generatorType"/>
			<element name="validator" type="invoice:dataValidatorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!--
	Beginn Rechnung
	-->
	<element name="request" type="invoice:requestType"/>
	<complexType name="requestType">
		<sequence>
			<element name="header" type="invoice:headerType"/>
			<element name="prolog" type="invoice:prologType"/>
			<element name="invoice" type="invoice:invoiceType"/>
		</sequence>
		<attribute name="role" default="production">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="production"/>
					<enumeration value="test"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
</schema>
